<h1>My searches</h1>

<% @user_searches.each do |search| %>
  <p>DATE: <%= search.created_at %></p>
  <p>make: <%= search.make %></p>
  <p>model: <%= search.model %></p>
  <p>year_from: <%= search.year_from %></p>
  <p>year_to: <%= search.year_to %></p>
  <p>price_from: <%= search.price_from %></p>
  <p>price_to: <%= search.price_to %></p>
<% end %>

<%= render partial: 'shared/button_back_to_home_page' %>