%nav.navbar.navbar-expand-lg.bg-body-tertiary.bg-tertiary.sticky-top
  .container-fluid
    %a.navbar-brand{:href => root_path} CAR ADVERTISEMENTS WEB
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          = link_to t('.home'), root_path, class: "nav-link"
        %li.nav-item.dropdown
          = link_to t('.help'), helps_path, class: "nav-link"
        %li.nav-item.dropdown
          = link_to t('.cars_list'), cars_path, class: "nav-link"
        %li.nav-item.dropdown
          = link_to t('.search'), new_search_path, class: "nav-link"
        %li.nav-item.dropdown
          = link_to t('.my_searches'), searches_path, class: "nav-link"
        - if user_signed_in?
          %li.nav-item.dropdown
            = button_to t('.logout'), destroy_user_session_path, method: :delete, form: {turbolink: false}, class: 'nav-link bg-transparent border-0 shadow-none'
        - else
          %li.nav-item.dropdown
            = link_to t('.login'), new_user_session_path, class: "nav-link"
          %li.nav-item.dropdown
            = link_to t('.sign_up'), new_user_registration_path, class: "nav-link"
        = render partial: 'shared/translation_drop_menu'
