%h2= t('shared.header.search')
= form_with url: searches_path, method: :post, data: { turbo: false }, class: 'cars-form' do |f|
  .from-group
    .w-25
      = f.label :make, t('cars.car.make'), class: "form-label"
      = f.text_field "filter_params[make]", placeholder: t('cars.car.make').downcase, class: "form-control"
    .w-25
      = f.label :model, t('cars.car.model'), class: "form-label"
      = f.text_field "filter_params[model]", placeholder: t('cars.car.model').downcase, class: "form-control"
    .w-25
      = f.label :year_from, t('.year_from'), class: "form-label"
      = f.text_field "filter_params[year_from]", placeholder: t('.year_from').downcase, class: "form-control"
    .w-25
      = f.label :year_to, t('.year_to'), class: "form-label"
      = f.text_field "filter_params[year_to]", placeholder: t('.year_to').downcase, class: "form-control"
    .w-25
      = f.label :price_from, t('.price_from'), class: "form-label"
      = f.text_field "filter_params[price_from]", placeholder: t('.price_from').downcase, class: "form-control"
    .w-25
      = f.label :price_to, t('.price_to'), class: "form-label"
      = f.text_field "filter_params[price_to]", placeholder: t('.price_to').downcase, class: "form-control"
    = f.submit t('.submit'), formaction: searches_path, class: "btn btn-primary mt-2"
= render partial: 'shared/button_back_to_home_page'
