<div id="<%= dom_id car %>">
  <p>
    <strong><%= t('.make') %></strong>
    <%= car.make %>
  </p>

  <p>
    <strong><%= t('.model') %></strong>
    <%= car.model %>
  </p>

  <p>
    <strong><%= t('.year') %></strong>
    <%= car.year %>
  </p>

  <p>
    <strong><%= t('.odometer') %></strong>
    <%= car.odometer %>
  </p>

  <p>
    <strong><%= t('.price') %></strong>
    <%= car.price %>
  </p>

  <p>
    <strong><%= t('.description') %></strong>
    <%= car.description %>
  </p>

</div>
