<div class="mb-2">

  <%= form_with url: cars_path, method: :get, data: { turbo: false }, class: 'cars-form' do |f| %>
    <% params.fetch(:filter_params, {}).each do |k, v| %>
      <%= hidden_field_tag "filter_params[#{k}]", v %>
    <% end %>
    <%= f.label t('cars.index.sort_by') %>
    <%= f.select(:sort_by, ['Created_at desc', 'Created_at asc', 'Price desc', 'Price asc'], { selected: params[:sort_by]} , { class: 'form-select w-25' }) %>
    <%= f.submit t('cars.index.sort'), class: "btn btn-primary" %>
  <% end %>
</div>