.sort_form.mb-2
  = form_with url: cars_path, method: :get, data: { turbo: false }, class: 'cars-form' do |f|
    - params.fetch(:filter_params, {}).each do |k, v|
      = hidden_field_tag "filter_params[#{k}]", v
    = f.label t('.sort_by')
    = f.select(:sort_by, [[t('.sort_options.created_at_desc'), 'created_at desc'],
      [t('.sort_options.created_at_asc'), 'created_at asc'],
      [t('.sort_options.price_asc'), 'price asc'],
      [t('.sort_options.price_desc'), 'price desc']], { selected: params[:sort_by]} , { class: 'form-select w-25 mw-50' })
    = f.submit t('.sort'), class: "btn btn-primary"
