%p{:style => "color: green"}= notice
%div.d-flex.justify-content-between.align-items-center
  %div
    %h1= t(".cars")
  %div
    = link_to t('.create_new_car'), new_car_path, class: "btn btn-primary mt-2 mb-2"
- if @cars.any?
  %p
    = "#{t(".total_cars_count")}  "
    %b= @total_cars_count
- else
  %p= t('.no_cars_found')
= render partial: 'cars/sort_form' if @cars.count > 1
= link_to t('.search_car'), new_search_path, class: "btn btn-primary mt-2 mb-2" if @cars.blank?
!= pagy_bootstrap_nav @pagy if @pagy && @pagy.pages > 1
.container
  #cars
    .row
      - @cars.each do |car|
        .col-lg-4.mb-3.d-flex.align-items-stretch
          = render 'cars/car_card', car: car
= render partial: 'shared/button_back_to_home_page'
.container
  != pagy_bootstrap_nav @pagy if @pagy && @pagy.pages > 1
