<p style="color: green"><%= notice %></p>

<h1><%= t(".cars") %></h1>

<div class="d-flex">
  <% if @cars.any? %>
    <p><%= "#{t(".total_cars_count")}  " %><b><%= @total_cars_count %></b></p>
  <% else %>
    <p><%= t('cars.index.no_cars_found') %></p>
  <% end %>
</div>

<%= render partial: 'cars/sort_form' if @cars.count > 1 %>
<%= link_to t('cars.index.search_car'), new_search_path, class: "btn btn-primary mt-2 mb-2" if @cars.blank? %>

<%== pagy_bootstrap_nav @pagy if @pagy.pages > 1 %>

<div class="container">
  <div id="cars">
    <div class="row">
        <% @cars.each do |car| %>
          <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <%= render 'cars/car_card', car: car %>
          </div>
        <% end %>
    </div>
  </div>
</div>

<%= render partial: 'shared/button_back_to_home_page' %>

<div class="container">
  <%== pagy_bootstrap_nav @pagy if @pagy.pages > 1 %>
</div>