%h1 "Add new car to advertisements"

- if @car.errors.any?
  #error_explanation
    %h2
      = pluralize(@car.errors.count, "error")
      prohibited this car from being saved:
    %ul
      - @car.errors.full_messages.each do |message|
        %li= message

= form_for @car do |f|
  %div
    = f.label :make
    = f.text_field :make, class: "form-control"
  %div
    = f.label :model
    = f.text_field :model, class: "form-control"
  %div
    = f.label :year
    = f.number_field :year, class: "form-control"
  %div
    = f.label :odometer
    = f.number_field :odometer, class: "form-control"
  %div
    = f.label :price
    = f.number_field :price, class: "form-control"
  %div
    = f.label :description
    = f.text_area :description, class: "form-control"
  %div
    = f.submit t(".submit"), class: "btn btn-primary mt-2 mb-2"
= link_to t("cars.car.back_cars_list"), cars_path, class: "btn btn-secondary"
